/* スクロール用 */
html{
    height: 85%;
}
body{
    height: 100%;
}
div.min-h-screen bg-gray-100 dark:bg-gray-900{
    margin: 0;
    padding: 0;
}
main{
    height: 100%;
    width: 100%;
    background-color: #e8e8ec;
    
    margin: 0 auto;
    padding: 0;
    
}
div.scroll_table{
    height: 90%;
    overflow:auto;
    width: 95%;
    display: flex;
    margin: 0 auto;
}
/* インプットテーブル */
form{
    width: 100%;
    text-align: center;
}
/* フォーム */
form{
    text-align: center;
}
/* エラーメッセージ */
#errorMessage{
    color: #ff6060;
    font-weight:bold;
    font-size: 24px;
    width: fit-content;
    margin: 0 auto;
    
}
/* チェックテーブル */
table.check_table{
   margin-right: 8px;
}
table.check_table th{
    position: sticky;
    background: rgb(232,232,236);
    top: 0;
    left: 0;
    height: 50px;
}
table.check_table td{
    vertical-align: middle;
    text-align: center;
    height: 140px;
}

div.checkButton{
    width: 60%;
    position: absolute;
    bottom: 20px;
    left: 20%;
    vertical-align: middle;
    text-align: center;
}
input#checkButtonDe{
    width: 18%;
    margin: 0 10px 0 10px;
    border-radius: 5%;
    background: rgb(78, 78, 87);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
input#checkButtonUp{
    width: 18%;
    margin: 0 10px 0 10px;
    border-radius: 5%;
    background: rgb(78, 78, 87);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
input#checkButtonRe{
    width: 18%;
    margin: 0 10px 0 10px;
    border-radius: 5%;
    background: rgb(78, 78, 87);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
input#checkButtonDe:hover{
    background: #777586;
    color: #cbcbcb;
    transition: .2s;
}
input#checkButtonUp:hover{
    background: #777586;
    color: #cbcbcb;
    transition: .2s;
}
input#checkButtonRe:hover{
    background: #777586;
    color: #cbcbcb;
    transition: .2s;
}
/* メインテーブル */
table.main_table{
    width: 100%;
    background: #ffffff;
}
table.main_table th,table.main_table td{
    /* overflow-wrap: break-word; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* padding-top: 5px; */
    width: 6%;
    min-width: 60px;
    max-width: 100px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid rgb(82, 81, 81);
    border-right: 1px solid rgb(82, 81, 81);
    border-left: 1px solid rgb(82, 81, 81);
    border-collapse: collapse;
    font-size: 12px;
}
table.main_table td{
    border-bottom: 1px solid rgb(82, 81, 81);
    border-top: 1px solid rgb(82, 81, 81);
    height: 140px;
}
table.main_table th{
    position: sticky;
    background: #dcdbe7;
    top: 0;
    left: 0;
    height: 50px;
}
table.main_table th.long,table.main_table td.long{
    width: 12%;
    min-width: 120px;
    max-width: 150px;
}
table.main_table th.short,table.main_table td.short{
    width: 4%;
    min-width: 30px;
    max-width: 50px;
}
/* ボタン */
input.buttonDetail{
    width: 80%;
    margin: 5px;
    padding: 3px 5px 3px 5px;
    border-radius: 20%;
    background: rgb(102, 102, 110);
    color: rgb(255, 255, 255);
}
input.buttonDetail:hover{
    background: #e2e2e7;
    color: #555555;
    transition: .2s;
}
input.button{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 5px 3px 5px;
    /* border: 1px solid rgb(116, 116, 116); */
    border-radius: 20%;
    background: #b7b8e9;
}
input.button:hover{
    background-color: #838ac6;
    color: #cbcbcb;
    transition: .2s;
}
p.star{
    color: #ffe600;
    font-weight: bold;
}
img#book{
    width: 60%;
    margin: 5px 20% 5px 20%;
}




