@charset "utf-8";

body{
    /* width: 900px; margin: 0 auto; */
    text-align: center;
    background-image: url(/book/public/img/book.JPG);
    background-size: cover;
}

.login{
    width: 500px;
    height: 280px;
    position: absolute;
    top:300px;
    right:150px;
    font-size: 40px;
    background-color: rgba(85,120,224,0.6);
}

p{
    color:aliceblue;
}
